/* profile picture animation effect */

@keyframes floating-effect {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* falling leaf effect */

@keyframes falling-effect {
  0% {
    transform: translate(0, -10vh) rotate(0deg);
  }
  50% {
    transform: translate(25px, 50vh) rotate(45deg);
  }
  100% {
    transform: translate(-10px, 110vh) rotate(90deg);
  }
}
